<h3 class="ui header">{{t "forms.data-line-data-line9-resource-characteristic-log-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.resourceCharacteristicId
      class=(if (v-get validationObject "resourceCharacteristicId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-characteristic-log-e.resourceCharacteristicId-caption")
      data-test-data-line-data-line9-resource-characteristic-log-e-------------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "resourceCharacteristicId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-characteristic-log-e.name-caption")
      data-test-data-line-data-line9-resource-characteristic-log-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.value
      class=(if (v-get validationObject "value" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-characteristic-log-e.value-caption")
      data-test-data-line-data-line9-resource-characteristic-log-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "value" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.resourceId
      class=(if (v-get validationObject "resourceId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-characteristic-log-e.resourceId-caption")
      data-test-data-line-data-line9-resource-characteristic-log-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "resourceId" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-characteristic-log-e.startTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.startTime
      class=(if (v-get validationObject "startTime" "isInvalid") "error")
      data-test-data-line-data-line9-resource-characteristic-log-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "startTime" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-characteristic-log-e.endTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.endTime
      class=(if (v-get validationObject "endTime" "isInvalid") "error")
      data-test-data-line-data-line9-resource-characteristic-log-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "endTime" "messages")}}
  </div>

</form>