<h3 class="ui header">{{t "forms.data-line-data-line9-service-log-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.serviceId
      class=(if (v-get validationObject "serviceId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.serviceId-caption")
      data-test-data-line-data-line9-service-log-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "serviceId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.cfsId
      class=(if (v-get validationObject "cfsId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.cfsId-caption")
      data-test-data-line-data-line9-service-log-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "cfsId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.parentId
      class=(if (v-get validationObject "parentId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.parentId-caption")
      data-test-data-line-data-line9-service-log-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "parentId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.contragentId
      class=(if (v-get validationObject "contragentId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.contragentId-caption")
      data-test-data-line-data-line9-service-log-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contragentId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.customerId
      class=(if (v-get validationObject "customerId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.customerId-caption")
      data-test-data-line-data-line9-service-log-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customerId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.serviceSpecId
      class=(if (v-get validationObject "serviceSpecId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.serviceSpecId-caption")
      data-test-data-line-data-line9-service-log-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "serviceSpecId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.state
      class=(if (v-get validationObject "state" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.state-caption")
      data-test-data-line-data-line9-service-log-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "state" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.name-caption")
      data-test-data-line-data-line9-service-log-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.description
      class=(if (v-get validationObject "description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-log-e.description-caption")
      data-test-data-line-data-line9-service-log-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "description" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-log-e.dtCreated-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtCreated
      class=(if (v-get validationObject "dtCreated" "isInvalid") "error")
      data-test-data-line-data-line9-service-log-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtCreated" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-log-e.dtStarted-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtStarted
      class=(if (v-get validationObject "dtStarted" "isInvalid") "error")
      data-test-data-line-data-line9-service-log-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtStarted" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-log-e.dtEnded-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtEnded
      class=(if (v-get validationObject "dtEnded" "isInvalid") "error")
      data-test-data-line-data-line9-service-log-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtEnded" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-log-e.startTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.startTime
      class=(if (v-get validationObject "startTime" "isInvalid") "error")
      data-test-data-line-data-line9-service-log-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "startTime" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-log-e.endTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.endTime
      class=(if (v-get validationObject "endTime" "isInvalid") "error")
      data-test-data-line-data-line9-service-log-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "endTime" "messages")}}
  </div>

</form>