<h3 class="ui header">{{t "forms.data-line-data-line9-service-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.name-caption")
      data-test-data-line-data-line9-service-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.description
      class=(if (v-get validationObject "description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.description-caption")
      data-test-data-line-data-line9-service-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "description" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.dtCreated-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtCreated
      class=(if (v-get validationObject "dtCreated" "isInvalid") "error")
      data-test-data-line-data-line9-service-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtCreated" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.dtStarted-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtStarted
      class=(if (v-get validationObject "dtStarted" "isInvalid") "error")
      data-test-data-line-data-line9-service-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtStarted" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.dtEnded-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtEnded
      class=(if (v-get validationObject "dtEnded" "isInvalid") "error")
      data-test-data-line-data-line9-service-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtEnded" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.contragentId-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.contragentId
      relationName="contragentId"
      projection="contragentL"
      title=(t "forms.data-line-data-line9-service-e.contragentId-caption")
      readonly=readonly
      componentName="contragentIdLookup"
      data-test-data-line-data-line9-service-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contragentId" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.cfs_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.cfs_id
      relationName="cfs_id"
      projection="serviceL"
      title=(t "forms.data-line-data-line9-service-e.cfs_id-caption")
      readonly=readonly
      componentName="cfs_idLookup"
      data-test-data-line-data-line9-service-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "cfs_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.cfs_id.name
      class=(if (v-get validationObject "cfs_id.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.cfs_id.name-caption")
      data-test-data-line-data-line9-service-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "cfs_id.name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.service_spec_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.service_spec_id
      relationName="service_spec_id"
      projection="service_specL"
      title=(t "forms.data-line-data-line9-service-e.service_spec_id-caption")
      readonly=readonly
      componentName="service_spec_idLookup"
      data-test-data-line-data-line9-service-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "service_spec_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.service_spec_id.enum
      class=(if (v-get validationObject "service_spec_id.enum" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.service_spec_id.enum-caption")
      data-test-data-line-data-line9-service-e---------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "service_spec_id.enum" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.state-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.state
      relationName="state"
      projection="service_stateL"
      title=(t "forms.data-line-data-line9-service-e.state-caption")
      readonly=readonly
      componentName="stateLookup"
      data-test-data-line-data-line9-service-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "state" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.state.description
      class=(if (v-get validationObject "state.description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.state.description-caption")
      data-test-data-line-data-line9-service-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "state.description" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.parent_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.parent_id
      relationName="parent_id"
      projection="serviceL"
      title=(t "forms.data-line-data-line9-service-e.parent_id-caption")
      readonly=readonly
      componentName="parent_idLookup"
      data-test-data-line-data-line9-service-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "parent_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.parent_id.name
      class=(if (v-get validationObject "parent_id.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.parent_id.name-caption")
      data-test-data-line-data-line9-service-e---------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "parent_id.name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-e.customerId-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customerId
      relationName="customerId"
      projection="customerL"
      title=(t "forms.data-line-data-line9-service-e.customerId-caption")
      readonly=readonly
      componentName="customerIdLookup"
      data-test-data-line-data-line9-service-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customerId" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.customerId.name
      class=(if (v-get validationObject "customerId.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.customerId.name-caption")
      data-test-data-line-data-line9-service-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customerId.name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.contragentId.name
      class=(if (v-get validationObject "contragentId.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-e.contragentId.name-caption")
      data-test-data-line-data-line9-service-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contragentId.name" "messages")}}
  </div>
</form>