<h3 class="ui header">{{t "forms.data-line-data-line9-service-order-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.description
      class=(if (v-get validationObject "description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.description-caption")
      data-test-data-line-data-line9-service-order-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "description" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.dtCompleted-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtCompleted
      class=(if (v-get validationObject "dtCompleted" "isInvalid") "error")
      data-test-data-line-data-line9-service-order-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtCompleted" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.dtCreated-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtCreated
      class=(if (v-get validationObject "dtCreated" "isInvalid") "error")
      data-test-data-line-data-line9-service-order-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtCreated" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.dtModified-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtModified
      class=(if (v-get validationObject "dtModified" "isInvalid") "error")
      data-test-data-line-data-line9-service-order-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtModified" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.dtStarted-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtStarted
      class=(if (v-get validationObject "dtStarted" "isInvalid") "error")
      data-test-data-line-data-line9-service-order-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtStarted" "messages")}}
  </div>

  <div class="field" data-test-data-line-data-line9-service-order-e-----------="true">
    <label>{{t "forms.data-line-data-line9-service-order-e.externalId-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "guid")
      value=model.externalId
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "externalId" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.price
      class=(if (v-get validationObject "price" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.price-caption")
      data-test-data-line-data-line9-service-order-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "price" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.state-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.state
      relationName="state"
      projection="order_stateL"
      title=(t "forms.data-line-data-line9-service-order-e.state-caption")
      readonly=readonly
      componentName="stateLookup"
      data-test-data-line-data-line9-service-order-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "state" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.state.description
      class=(if (v-get validationObject "state.description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.state.description-caption")
      data-test-data-line-data-line9-service-order-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "state.description" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.modifier_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.modifier_id
      relationName="modifier_id"
      projection="usrL"
      title=(t "forms.data-line-data-line9-service-order-e.modifier_id-caption")
      readonly=readonly
      componentName="modifier_idLookup"
      data-test-data-line-data-line9-service-order-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "modifier_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.modifier_id.login
      class=(if (v-get validationObject "modifier_id.login" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.modifier_id.login-caption")
      data-test-data-line-data-line9-service-order-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "modifier_id.login" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.customer_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customer_id
      relationName="customer_id"
      projection="customerL"
      title=(t "forms.data-line-data-line9-service-order-e.customer_id-caption")
      readonly=readonly
      componentName="customer_idLookup"
      data-test-data-line-data-line9-service-order-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customer_id" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.contragentId-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.contragentId
      relationName="contragentId"
      projection="contragentL"
      title=(t "forms.data-line-data-line9-service-order-e.contragentId-caption")
      readonly=readonly
      componentName="contragentIdLookup"
      data-test-data-line-data-line9-service-order-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contragentId" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-order-e.creator_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.creator_id
      relationName="creator_id"
      projection="usrL"
      title=(t "forms.data-line-data-line9-service-order-e.creator_id-caption")
      readonly=readonly
      componentName="creator_idLookup"
      data-test-data-line-data-line9-service-order-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "creator_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.creator_id.login
      class=(if (v-get validationObject "creator_id.login" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.creator_id.login-caption")
      data-test-data-line-data-line9-service-order-e-----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "creator_id.login" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.customer_id.name
      class=(if (v-get validationObject "customer_id.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.customer_id.name-caption")
      data-test-data-line-data-line9-service-order-e-----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customer_id.name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.contragentId.name
      class=(if (v-get validationObject "contragentId.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-order-e.contragentId.name-caption")
      data-test-data-line-data-line9-service-order-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contragentId.name" "messages")}}
  </div>
</form>