<h3 class="ui header">{{t "forms.data-line-data-line9-service-characteristic-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-characteristic-e.name-caption")
      data-test-data-line-data-line9-service-characteristic-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.value
      class=(if (v-get validationObject "value" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-characteristic-e.value-caption")
      data-test-data-line-data-line9-service-characteristic-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "value" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-service-characteristic-e.service_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.service_id
      relationName="service_id"
      projection="serviceL"
      title=(t "forms.data-line-data-line9-service-characteristic-e.service_id-caption")
      readonly=readonly
      componentName="service_idLookup"
      data-test-data-line-data-line9-service-characteristic-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "service_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.service_id.name
      class=(if (v-get validationObject "service_id.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-service-characteristic-e.service_id.name-caption")
      data-test-data-line-data-line9-service-characteristic-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "service_id.name" "messages")}}
  </div>
</form>