<h3 class="ui header">{{t "forms.data-line-data-line9-resource-shared-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.externalId
      class=(if (v-get validationObject "externalId" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.externalId-caption")
      data-test-data-line-data-line9-resource-shared-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "externalId" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-shared-e.existent-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.existent
      data-test-data-line-data-line9-resource-shared-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "existent" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.name-caption")
      data-test-data-line-data-line9-resource-shared-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.description
      class=(if (v-get validationObject "description" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.description-caption")
      data-test-data-line-data-line9-resource-shared-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "description" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.category
      class=(if (v-get validationObject "category" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.category-caption")
      data-test-data-line-data-line9-resource-shared-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "category" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.type
      class=(if (v-get validationObject "type" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.type-caption")
      data-test-data-line-data-line9-resource-shared-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "type" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-shared-e.dtCreated-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtCreated
      class=(if (v-get validationObject "dtCreated" "isInvalid") "error")
      data-test-data-line-data-line9-resource-shared-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtCreated" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-shared-e.dtModified-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dtModified
      class=(if (v-get validationObject "dtModified" "isInvalid") "error")
      data-test-data-line-data-line9-resource-shared-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dtModified" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-data-line9-resource-shared-e.customerId-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customerId
      relationName="customerId"
      projection="customerL"
      title=(t "forms.data-line-data-line9-resource-shared-e.customerId-caption")
      readonly=readonly
      componentName="customerIdLookup"
      data-test-data-line-data-line9-resource-shared-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customerId" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.customerId.name
      class=(if (v-get validationObject "customerId.name" "isInvalid") "error")
      label=(t "forms.data-line-data-line9-resource-shared-e.customerId.name-caption")
      data-test-data-line-data-line9-resource-shared-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customerId.name" "messages")}}
  </div>
</form>